@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EEF2F7;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
  font-size: 13px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}